<ul class="xs-inline-block flex xs-flex-justify-end list-unstyled xs-py3 xs-px1 fill-red">
	<li class="xs-inline-block xs-flex-grow-1 xs-ml2"><a class="link-white bold " href="/index">BuzzFeed Design Club</a></li>
	<li class="xs-inline-block xs-mr2"><a class="link-white" href="/schedule">Schedule</a></li>
	<li class="xs-inline-block xs-mr2"><a class="link-white" href="/past-guests">Past Guests</a></li>
	<li class="xs-inline-block xs-mr2"><a class="link-white" href="/about">About</a></li>
	<li class="xs-inline-block xs-mr2"><a class="link-white" href="/contact">Contact</a></li>
</ul>